#banner-top {
  position: relative;
  padding-top: 115px;
  height: 400px;
  background: url("../../images/banner2.png") center no-repeat;
  background-size: cover; }
  #banner-top .text-center {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: #FFF; }

.content {
  padding: 60px 0; }
  .content p {
    text-align: justify;
    margin-bottom: 30px; }
  .content #company-info td {
    padding: 10px; }
    .content #company-info td:first-child {
      font-weight: 700; }
