#banner-top {
  position: relative;
  padding-top: 115px;
  height: 400px;
  background: url("../../images/banner2.png") center no-repeat;
  background-size: cover; }
  #banner-top .text-center {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: #FFF; }

.content {
  padding: 60px 0;
  background: #EEE; }
  .content .container {
    -webkit-column-width: 320px;
       -moz-column-width: 320px;
            column-width: 320px;
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
    -webkit-column-fill: auto;
       -moz-column-fill: auto;
            column-fill: auto;
    width: 90%;
    max-width: 1100px; }
  .content .category {
    display: inline-block;
    width: 100%;
    column-break-inside: avoid;
    background: #FFF;
    margin-bottom: 20px;
    padding: 10px 15px; }
    .content .category .category-name {
      display: block;
      font-size: 20px;
      font-weight: 700; }
    .content .category .sub-category-list {
      margin-top: 10px; }
      .content .category .sub-category-list .sub-category a {
        display: inline-block;
        padding: 4px 0;
        -webkit-transition: all 0.2s;
        transition: all 0.2s; }
        .content .category .sub-category-list .sub-category a:hover {
          padding-left: 10px; }
