#banner-top {
  position: relative;
  padding-top: 115px;
  height: 550px;
  background: url("../../images/contact-us-bg.jpg") right top no-repeat;
  background-position: none;
  background-size: cover; }
  #banner-top .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); }
  #banner-top .text-center {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: #FFF; }

.content {
  padding: 60px 0 40px; }
  .content .paragraph {
    text-align: justify;
    margin-bottom: 30px; }
    .content .paragraph.address {
      line-height: 22px; }
    .content .paragraph.more-info {
      line-height: 22px; }
      .content .paragraph.more-info .strong {
        display: inline-block;
        min-width: 80px; }
    .content .paragraph .logo {
      margin-bottom: 10px; }
  .content .map {
    width: 100%;
    margin-bottom: 30px; }
