#banner-top {
  padding-top: 137px;
  background: #333; }
  #banner-top ul {
    margin: 0;
    padding: 0; }
    #banner-top ul li {
      padding: 0;
      list-style: none; }
      #banner-top ul li img {
        width: 100%; }

.bx-wrapper {
  margin: 0 auto;
  border: 0;
  box-shadow: none; }
  .bx-wrapper .bx-controls .bx-pager {
    display: none; }

.content {
  padding: 40px 0 30px; }
  .content .headline {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px; }
  .content p {
    text-align: justify;
    margin-bottom: 30px; }
  .content .row {
    padding: 4px 0; }
    .content .row .topic {
      font-weight: 700; }

@media only screen and (max-width: 1200px) {
  #banner-top {
    padding-top: 93px; }
    #banner-top img {
      width: 100vw; }
  .content table td:first-child {
    width: 50%; } }
