#banner-top {
  background: url("../../images/banner1.png") center no-repeat;
  background-size: cover;
  height: 800px; }
  #banner-top .container {
    position: absolute;
    top: 400px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0); }
    #banner-top .container .text {
      float: left;
      padding: 20px 28px;
      border-bottom: 5px solid rgba(19, 48, 84, 0.2);
      background: rgba(19, 48, 84, 0.6);
      font-family: 'Questrial';
      font-size: 48px;
      letter-spacing: 1px;
      line-height: 48px;
      color: #FFF;
      text-transform: uppercase; }
      #banner-top .container .text .sub-text {
        font-size: 24px;
        line-height: 24px; }

#best-selling-products {
  padding: 60px 0; }
  #best-selling-products .promo-text {
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase; }
    #best-selling-products .promo-text .strong {
      font-weight: 400; }
  #best-selling-products .product-list {
    margin-top: 40px; }
    #best-selling-products .product-list .row .product-item {
      margin-bottom: 30px; }
      #best-selling-products .product-list .row .product-item .product-img {
        overflow: hidden;
        height: 180px; }
        #best-selling-products .product-list .row .product-item .product-img img {
          max-height: 180px;
          margin: 0 auto;
          -webkit-transition: all 0.2s;
          transition: all 0.2s; }
      #best-selling-products .product-list .row .product-item .product-name {
        margin-top: 10px;
        text-align: center;
        font-family: 'Questrial';
        font-size: 20px;
        text-transform: uppercase;
        -webkit-transition: color 0.2s;
        transition: color 0.2s; }
      #best-selling-products .product-list .row .product-item:hover .product-img img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      #best-selling-products .product-list .row .product-item:hover .product-name {
        color: #2B70A8; }
