footer {
  letter-spacing: 0.5px;
  background: #133054;
  color: #FFF; }
  footer .container {
    padding: 30px 0; }
    footer .container a {
      display: inline-block;
      margin-left: 20px;
      color: #FFF; }
      footer .container a:hover {
        color: #8FBBDE; }
      footer .container a:first-child {
        margin-left: 0; }
    footer .container #footer-nav {
      float: left; }
    footer .container #copyright {
      float: right; }

@media only screen and (max-width: 1200px) {
  footer .container {
    text-align: center; }
    footer .container #footer-nav {
      float: none;
      margin-bottom: 20px; }
      footer .container #footer-nav a {
        padding: 4px 0; }
    footer .container #copyright {
      float: none;
      font-size: 12px; } }

body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 14px;
  color: #000; }

a {
  color: #2B70A8;
  transition: color 0.2s; }
  a:hover {
    color: #8FBBDE;
    text-decoration: none; }
  a:focus {
    text-decoration: none; }

.strong {
  font-weight: 700; }

#ui-main {
  min-height: 650px; }

.viewport-hidden {
  opacity: 0; }

.viewport-visible {
  opacity: 1; }

header {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 10000; }
  header .container #logo {
    display: block;
    margin: 20px 0;
    font-size: 36px;
    font-weight: bold; }
  header .container nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row; }
    header .container nav .nav-toggle-icon {
      display: none; }
    header .container nav .nav-list {
      display: -ms-flexbox;
      display: flex;
      width: 100%; }
      header .container nav .nav-list a.nav-item {
        -ms-flex: 1 0 auto;
        flex: 1 0 auto;
        margin: 0 1px;
        padding: 6px 12px;
        background: #133054;
        color: #FFF;
        line-height: 16px;
        letter-spacing: 0.5px;
        transition: all 0.2s; }
        header .container nav .nav-list a.nav-item:hover {
          background: #2B70A8; }
        header .container nav .nav-list a.nav-item:first-child {
          margin-left: 0; }
        header .container nav .nav-list a.nav-item:last-child {
          margin-right: 0; }
        header .container nav .nav-list a.nav-item .sub-text {
          font-size: 10px;
          line-height: 9px; }

@media only screen and (max-width: 1200px) {
  header {
    position: absolute; }
    header .container {
      position: relative; }
      header .container #logo {
        float: left; }
      header .container nav {
        float: right;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: auto;
        height: auto;
        transform: translate(0, -50%); }
        header .container nav .nav-toggle-icon {
          display: block;
          margin-right: -1px;
          border: 0;
          padding: 5px 10px; }
          header .container nav .nav-toggle-icon i {
            font-size: 24px; }
        header .container nav .nav-list {
          display: none;
          position: absolute;
          right: 0;
          width: auto; }
          header .container nav .nav-list a.nav-item {
            display: block;
            width: 100%;
            min-width: 200px;
            text-align: left;
            white-space: nowrap; }
            header .container nav .nav-list a.nav-item:first-child {
              margin: 0 1px; }
            header .container nav .nav-list a.nav-item:last-child {
              margin: 0 1px; }
        header .container nav:hover .nav-toggle-icon {
          background: #133054;
          color: #FFF; }
        header .container nav:hover .nav-list {
          display: block; } }

/*# sourceMappingURL=main.css.map */
