.content {
  padding: 177px 0 60px;
  background: #EEE; }
  .content .category-name {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase; }
  .content .sub-category-name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .content .description,
  .content .more-description {
    margin: 20px 0; }
  .content .product-list {
    margin-top: 40px; }
    .content .product-list .product {
      position: relative;
      overflow: hidden;
      display: block;
      margin-bottom: 20px;
      background: #FFF;
      height: 200px; }
      .content .product-list .product .product-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .content .product-list .product .product-name {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 14px 20px;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        color: #FFF;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
