.content {
  padding: 177px 0 60px;
  background: #EEE; }
  .content .category-name {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase; }
  .content .sub-category-list {
    margin-top: 20px; }
    .content .sub-category-list .sub-category {
      position: relative;
      overflow: hidden;
      display: block;
      margin-bottom: 20px;
      background: #FFF;
      height: 200px; }
      .content .sub-category-list .sub-category .sub-category-img {
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .content .sub-category-list .sub-category .sub-category-name {
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 14px 20px;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        color: #FFF;
        -webkit-transition: all 0.3s;
        transition: all 0.3s; }
      .content .sub-category-list .sub-category:hover .sub-category-img {
        -webkit-transform: scale(1.1);
                transform: scale(1.1); }
      .content .sub-category-list .sub-category:hover .sub-category-name {
        background: #133054; }
