$primary-blue: #133054;
$secondary-blue: #2B70A8;
$tertiary-blue: #8FBBDE;

$primary-color: #333;
$primary-text-dark: #000;
$primary-text-light: #FFF;

$primary-link: $secondary-blue;
$primary-link-hover: $tertiary-blue;

$header-bg: rgba(255, 255, 255, 0.75);
$header-link: #FFF;
