@import '_constant.scss';

footer{
  letter-spacing: 0.5px;
  background: $primary-blue;
  color: $primary-text-light;

  .container{
    padding: 30px 0;

    a{
      display: inline-block;
      margin-left: 20px;
      color: $primary-text-light;

      &:hover{
        color: $tertiary-blue;
      }

      &:first-child{
        margin-left: 0;
      }
    }

    #footer-nav{
      float: left;
    }

    #copyright{
      float: right;
    }
  }
}

@media only screen and (max-width: 1200px){
  footer{
    .container{
      text-align: center;

      #footer-nav{
        float: none;
        margin-bottom: 20px;

        a{
          padding: 4px 0;
        }
      }

      #copyright{
        float: none;
        font-size: 12px;
      }
    }
  }
}
