@import '_constant.scss';

header{
  position: fixed;
  width: 100%;
  background: $header-bg;
  z-index: 10000;

  .container{
    #logo{
      display: block;
      margin: 20px 0;
      font-size: 36px;
      font-weight: bold;
    }

    nav{
      display: flex;
      flex-direction: row;

      .nav-toggle-icon{
        display: none;
      }

      .nav-list{
        display: flex;
        width: 100%;

        a.nav-item{
          flex: 1 0 auto;
          margin: 0 1px;
          padding: 6px 12px;
          background: $primary-blue;
          color: $header-link;
          line-height: 16px;
          letter-spacing: 0.5px;
          transition: all 0.2s;

          &:hover{
            background: $secondary-blue;
          }

          &:first-child{
            margin-left: 0;
          }

          &:last-child{
            margin-right: 0;
          }

          .sub-text{
            font-size: 10px;
            line-height: 9px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px){
  header{
    position: absolute;

    .container{
      position: relative;

      #logo{
        float: left;
      }

      nav{
        float: right;
        display: block;
        position: absolute;
        top: 50%;
        right: 0;
        width: auto;
        height: auto;
        transform: translate(0, -50%);

        .nav-toggle-icon{
          display: block;
          margin-right: -1px;
          border: 0;
          padding: 5px 10px;

          i{
            font-size: 24px;
          }
        }

        .nav-list{
          display: none;
          position: absolute;
          right: 0;
          width: auto;

          a.nav-item{
            display: block;
            width: 100%;
            min-width: 200px;
            text-align: left;
            white-space: nowrap;

            &:first-child{
              margin: 0 1px;
            }

            &:last-child{
              margin: 0 1px;
            }
          }
        }

        &:hover{
          .nav-toggle-icon{
            background: $primary-blue;
            color: $primary-text-light;
          }
          .nav-list{
            display: block;
          }
        }
      }
    }
  }
}
