@import 'global/_constant.scss';

#banner-top{
  position: relative;
  padding-top: 115px;
  height: 400px;
  background: url('../../images/banner2.png') center no-repeat;
  background-size: cover;

  .text-center{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: $primary-text-light;
  }
}

.content{
  padding: 60px 0;

  p{
    text-align: justify;
    margin-bottom: 30px;
  }

  #company-info{
    td{
      padding: 10px;

      &:first-child{
        font-weight: 700;
      }
    }
  }
}
