@import 'global/_constant.scss';

#banner-top{
  position: relative;
  padding-top: 115px;
  height: 400px;
  background: url('../../images/banner2.png') center no-repeat;
  background-size: cover;

  .text-center{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: $primary-text-light;
  }
}

.content{
  padding: 60px 0;
  background: #EEE;

  .container{
    column-width: 320px;
    column-count: 3;
	  column-gap: 15px;
    column-fill: auto;
    width: 90%;
  	max-width: 1100px;
  }

  .category{
    display: inline-block;
    width: 100%;
    column-break-inside: avoid;
    background: #FFF;
    margin-bottom: 20px;
    padding: 10px 15px;

    .category-name{
      display: block;
      font-size: 20px;
      font-weight: 700;
    }

    .sub-category-list{
      margin-top: 10px;

      .sub-category{
        a{
          display: inline-block;
          padding: 4px 0;
          transition: all 0.2s;

          &:hover{
            padding-left: 10px;
          }
        }
      }
    }
  }
}
