@import 'global/_constant.scss';

#banner-top{
  position: relative;
  padding-top: 115px;
  height: 550px;
  background: url('../../images/contact-us-bg.jpg') right top no-repeat;
  background-position: none;
  background-size: cover;

  .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }

  .text-center{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    text-transform: uppercase;
    color: $primary-text-light;
  }
}

.content{
  padding: 60px 0 40px;

  .paragraph{
    text-align: justify;
    margin-bottom: 30px;

    &.address{
      line-height: 22px;
    }

    &.more-info{
      line-height: 22px;

      .strong{
        display: inline-block;
        min-width: 80px;
      }
    }

    .logo{
      margin-bottom: 10px;
    }
  }

  .map{
    width: 100%;
    margin-bottom: 30px;
  }
}
