@import 'global/_constant.scss';

#banner-top{
  padding-top: 137px;
  background: #333;

  ul{
    margin: 0;
    padding: 0;

    li{
      padding: 0;
      list-style: none;

      img{
        width: 100%;
      }
    }
  }
}

.bx-wrapper{
  margin: 0 auto;
  border: 0;
  box-shadow: none;

  .bx-controls{
    .bx-pager{
      display: none;
    }
  }
}

.content{
  padding: 40px 0 30px;

  .headline{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  p{
    text-align: justify;
    margin-bottom: 30px;
  }

  .row{
    padding: 4px 0;

    .topic{
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 1200px){
  #banner-top{
    padding-top: 93px;

    img{
      width: 100vw;
    }
  }

  .content{
    table{
      td:first-child{
        width: 50%;
      }
    }
  }
}
