@import 'global/_constant.scss';

#banner-top{
  background: url('../../images/banner1.png') center no-repeat;
  background-size: cover;
  height: 800px;

  .container{
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translate(-50%, 0);

    .text{
      float: left;
      padding: 20px 28px;
      border-bottom: 5px solid rgba(19, 48, 84, 0.2);
      background: rgba(19, 48, 84, 0.6);
      font-family: 'Questrial';
      font-size: 48px;
      letter-spacing: 1px;
      line-height: 48px;
      color: $primary-text-light;
      text-transform: uppercase;

      .sub-text{
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}

#best-selling-products{
  padding: 60px 0;

  .promo-text{
    text-align: center;
    font-weight: 300;
    font-size: 32px;
    text-transform: uppercase;

    .strong{
      font-weight: 400;
    }
  }

  .product-list{
    margin-top: 40px;

    .row{
      .product-item{
        margin-bottom: 30px;

        .product-img{
          overflow: hidden;
          height: 180px;

          img{
            max-height: 180px;
            margin: 0 auto;
            transition: all 0.2s;
          }
        }

        .product-name{
          margin-top: 10px;
          text-align: center;
          font-family: 'Questrial';
          font-size: 20px;
          text-transform: uppercase;
          transition: color 0.2s;
        }

        &:hover{
          .product-img{
            img{
              transform: scale(1.1);
            }
          }

          .product-name{
            color: $secondary-blue;
          }
        }
      }
    }
  }
}
