@import 'global/_constant.scss';

.content{
  padding: 177px 0 60px;
  background: #EEE;

  .category-name{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .sub-category-list{
    margin-top: 20px;

    .sub-category{
      position: relative;
      overflow: hidden;
      display: block;
      margin-bottom: 20px;
      background: #FFF;
      height: 200px;

      .sub-category-img{
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        transition: all 0.3s;
      }

      .sub-category-name{
        position: absolute;
        width: 100%;
        bottom: 0;
        padding: 14px 20px;
        background: rgba(0, 0, 0, 0.75);
        text-align: center;
        font-size: 20px;
        font-weight: 300;
        color: #FFF;
        transition: all 0.3s;
      }

      &:hover{
        .sub-category-img{
          transform: scale(1.1);
        }

        .sub-category-name{
          background: $primary-blue;
        }
      }
    }
  }
}
